/*COLORS
*/
:root {
  --color-yellow: #E7E247;
  --color-black: #3D3B30;
  --color-gray: #4D5061;
  --color-blue: #5C80BC;
  --color-white: #E9EDDE;
}

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-image: linear-gradient(to left bottom, var(--color-gray), var(--color-blue));
  background-size: cover;
}

.logo {
  height: 55px;
  width: 55px;
  margin-left: 35px;
}

.fas {
  color: var(--color-yellow) !important;
  transition: all 0.3s;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 40%;
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  color: var(--color-white);
  background-color: var(--color-black);
  border: 1px solid var(--color-white);
  padding: 7px 20px;
  border-radius: 80px;
  width: 80%;
  transition: all 0.3s;
  margin-right: -40px;
}

.search__input:focus {
  outline: none;
  width: 100%;
  background-color: #000000;
  border: 2px solid var(--color-white);
}

.search__button {
  background-color: transparent;
}

.user-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-self: stretch;
}

.user-nav > * {
  padding: 0 15px;
  cursor: pointer;
  height: 46px;
}

.user-nav__icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-gray);
  width: 46px;
  margin-right: 5px;
  transition: all 0.3s;
}

.user-nav__icon-box:hover {
  background-color: var(--color-black);
}

.user-nav__icon-box:hover .fas {
  color: var(--color-yellow-2) !important;
}

.user-nav__profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.user-nav__profile-photo {
  height: 35px;
  border-radius: 50%;
  margin-right: 5px;
}

.side-nav {
  list-style: none;
  font-size: 30px;
}

.side-nav__item {
  padding-left: 10px;
  border-bottom: 1px solid var(--color-gray);
  transition: all 0.3s;
  color: var(--color-black);
}

.side-nav__item:hover {
  background-color: var(--color-blue);
}

.side-nav__item:hover .side-nav__link {
  color: var(--color-yellow);
}

.side-nav__item:hover .side-nav__link.fas {
  color: var(--color-yellow);
}

.side-nav__link {
  text-decoration: none;
  color: inherit;
}

.side-nav__link > .fas {
  color: var(--color-black) !important;
  margin-right: 10px;
}

.container {
  max-width: 1200px;
  margin: 50px auto;
  background-color: var(--color-black);
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.3);
  min-height: 500px;
}

.header {
  height: 60px;
  background-color: var(--color-blue);
  border-bottom: 2px solid var(--color-yellow);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
  height: 100%;
}

.sidebar {
  background-color: var(--color-yellow);
  flex: 0 0 20%;
  height: 100%;
}

.general {
  background-color: orangered;
  flex: 1;
}
