/*
COLORS
*/
:root {
  --color-red-1: #EF233C;
  --color-red-2: #D90429;
  --color-white: #EDF2F4;
  --color-blue-light: #8D99AE;
  --color-blue-dark: #2B2D42;
}

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-image: linear-gradient(to left bottom, var(--color-red-1), var(--color-red-2));
  background-size: cover;
}

.container {
  max-width: 1200px;
  margin: 50px auto;
  background-color: var(--color-blue-dark);
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.3);
  min-height: 500px;
}

.header {
  height: 60px;
  background-color: var(--color-white);
  border-bottom: 2px solid var(--color-red-1);
}

.content {
  display: flex;
}

.sidebar {
  background-color: var(--color-blue-light);
  flex: 0 0 20%;
}

.general {
  background-color: orangered;
  flex: 1;
}
