/*COLORS
*/
:root{
    --color-yellow: #E7E247;
    --color-yellow-2: #ff8a00;
    --color-black-pure: #000;
    --color-black: #383838;
    --color-gray-dark: #292929;
    --color-gray: #4D5061;
    --color-blue: #5C80BC;
    --color-white: #E9EDDE;
}

*{
    padding: 0;
    margin: 0;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    background-image: linear-gradient(to left bottom, var(--color-gray), var(--color-gray-dark));
    background-size: cover;
}
