.container{
    max-width: 1200px;
    margin: 50px auto;
    background-color: var(--color-black);
    box-shadow: 0 4px 4px var(--color-gray);
    
}

.header{
    height: 80px;
    background-color: var(--color-black-pure);
    border-bottom: 2px solid var(--color-gray);
    display: flex;
    color: var(--color-white);
    justify-content: space-between;
    align-items: center;
}

.content{
    display: flex;
    min-height: 500px;
}

.sidebar{
    background-color: var(--color-gray-dark);
    color: var(--color-white);
    flex: 0 0 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid var(--color-gray);
    // height: 500px;
}

.general{
    background-color: orangered;
    flex: 1;
    display: flex;
    flex-direction: column;
    // height: 1000px;
}
