.container{
    max-width: 1200px;
    margin: 50px auto;
    background-color: var(--color-black);
    box-shadow: 0 15px 50px rgba(0,0,0,.3);
    
}

.header{
    height: 60px;
    background-color: var(--color-blue);
    border-bottom: 2px solid var(--color-gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content{
    display: flex;
    min-height: 500px;
}

.sidebar{
    background-color: var(--color-yellow);
    flex: 0 0 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // height: 500px;
}

.general{
    background-color: orangered;
    flex: 1;
    // height: 1000px;
}
