.container{
    max-width: 1200px;
    margin: 50px auto;
    background-color: var(--color-black);
    box-shadow: 0 15px 50px rgba(0,0,0,.3);
    min-height: 500px;
}

.header{
    height: 60px;
    background-color: var(--color-blue);
    border-bottom: 2px solid var(--color-black);
}

.content{
    display: flex;
}

.sidebar{
    background-color: var(--color-yellow);
    flex: 0 0 20%;
}

.general{
    background-color: orangered;
    flex: 1;
}
